img.logo-gambar{
    width: 350px;
    height: 80px;
}

div.top-container{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
}

div.menu-container{
    display: flex;
    justify-content: space-around;
}

div.menu-satu{
    margin-top: 40px;
    margin-right: 30px;
    font-size: 20px;
    font-family: sans-serif;
    border-bottom: solid;
    border-color: orange;
}

div.menu-dua{
    margin-top: 40px;
    margin-right: 30px;
    font-size: 20px;
    font-family: sans-serif;
}

div.menu-tiga{
    margin-top: 40px;
    font-size: 20px;
    font-family: sans-serif;
}

a.active{
    color: orange;
    font-weight: bold;
}
