<div class="second-container">
    <div class="description">
        <div class="judul-artikel">Mari Belajar Bersama Kami</div>
        <div class="deskripsi">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque qui, quo nobis dignissimos dolores perferendis? Ipsa, exercitationem, dolores dolorum delectus placeat dolorem omnis veniam enim consequuntur voluptas iure, explicabo minima. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga fugit magnam ex dolore, ullam, alias ab libero soluta vero optio eos, porro maiores nihil enim quos. Commodi deleniti ea placeat. 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias illum quasi eaque, nam explicabo culpa. Expedita tempore odio inventore eos magni! Illum eveniet quae voluptate et corporis, praesentium accusantium ullam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio a delectus ratione error tempora necessitatibus possimus officia quam alias porro! Repudiandae magni voluptates officia omnis excepturi laudantium numquam, ipsum facere. </div>
        <div class="read-more"><a class="read" href="#">Read more</a></div>
    </div>
    <div class="portrait">
        <img class="gambar" src="assets/images/angular.png" alt="">
        <img class="gambar" src="assets/images/ts.png" alt="">
        <img class="gambar" src="assets/images/js.png" alt="">
        <img class="gambar" src="assets/images/html5.png" alt="">
    </div>
</div>