/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 /* body{
     background: url('https://c4.wallpaperflare.com/wallpaper/587/270/473/black-and-white-blur-gray-iphone-wallpaper-preview.jpg'); 
     background-size: cover;
     backdrop-filter: blur(5px);
}  */

a{
    text-decoration: none;
    color: white;
}



