<div class="main-container">
    <h1 class="headline">Belajar Front End BCA Finance</h1>
    <p class="tulisan">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quis dignissimos natus accusamus corrupti, blanditiis quae dicta consequuntur non officia quam sequi doloremque unde, ex nam dolore impedit molestiae odio?. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ea accusamus. Non quos error illum odit ut qui. Veritatis numquam fugit ducimus dolorem nisi in tempora incidunt eos officiis quos.</p>
    <div class="button-container">
        <a class="button-satu" href="">Baca</a>
        <a class="button-dua" href="">Lihat</a>
    </div>
</div>